# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
google_ads/

# Jupyter Notebooks
.ipynb_checkpoints/

# Sistema
.DS_Store

# Datos procesados
data/processed/*.png

# Visualizaciones generadas
outputs/*.png

# Documentos locales (no se suben)
docs/presentacion_resumen.md
